.container__grid {
  background: gainsboro;
  margin: 0 auto;
  max-width: 800px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.box-button {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: center;
}
.App-header h1 {
  margin: 0 auto;
  max-width: 450px;
  font-size: 30px;
}
.App-header {
  display: flex;
}

.ClassActive {
  background: rgb(199, 197, 197);
  padding: 10px;
 }

 .page {
   text-decoration: none;
 }